<a href="https://colab.research.google.com/github/zaephaer/Analytics/blob/main/da_project_3_violations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Data Analysis Project 3: Police (Road Violations) Dataset**
This dataset contains 15 different columns of road violations from date, time, country, driver gender, age, violations and so on.

Data retrieve from: https://drive.google.com/file/d/17j5y4WwS6xpcANlESb24FzyR7Vrzam65/view

In [1]:
#importing libraries
import pandas as pd

In [2]:
#loading dataset directly from Google Drive
url = 'https://drive.google.com/file/d/17j5y4WwS6xpcANlESb24FzyR7Vrzam65/view?usp=sharing'
file_id=url.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id
df = pd.read_csv(dwn_url)
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,NaN,F,1987.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65531,12/6/2012,22:22,NaN,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
65532,12/6/2012,23:20,NaN,M,1985.0,27.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False
65533,12/7/2012,0:23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
65534,12/7/2012,0:30,NaN,F,1985.0,27.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [3]:
df.shape

(65535, 15)

### 1. Removing column with 'Null' value

In [4]:
#check which column with 'Null'
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [5]:
#percentage of 'Null' value in each columns
df.isnull().sum() * 100 / len(df)

stop_date               0.000000
stop_time               0.000000
country_name          100.000000
driver_gender           6.196689
driver_age_raw          6.186007
driver_age              6.572061
driver_race             6.195163
violation_raw           6.195163
violation               6.195163
search_conducted        0.000000
search_type            96.217288
stop_outcome            6.195163
is_arrested             6.195163
stop_duration           6.195163
drugs_related_stop      0.000000
dtype: float64

In [6]:
#remove 'country_name' column
#df.drop(columns = 'country_name', inplace = True)
#remove more than one columns
df.drop(['country_name', 'search_type'], axis=1, inplace=True)       
df.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [7]:
#check
#df.isnull().sum()

#percentage of 'Null' value in each columns
df.isnull().sum() * 100 / len(df)

stop_date             0.000000
stop_time             0.000000
driver_gender         6.196689
driver_age_raw        6.186007
driver_age            6.572061
driver_race           6.195163
violation_raw         6.195163
violation             6.195163
search_conducted      0.000000
stop_outcome          6.195163
is_arrested           6.195163
stop_duration         6.195163
drugs_related_stop    0.000000
dtype: float64

### 2. Inspect for 'Violation' = 'Speeding', Male or Female?

In [8]:
#First condition, regardless Male or Female
df[df['violation'] == 'Speeding'].shape[0]

37204

In [9]:
#Using 'value_counts' to segregate/count Male or Female   
df[df['violation'] == 'Speeding'].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

In [10]:
#Viewing by percentage
df[df['violation'] == 'Speeding'].driver_gender.value_counts() * 100 / len(df)

M    38.936446
F    17.831693
Name: driver_gender, dtype: float64

### 3. Inspect 'search_conducted'. Whether searching on vilation refelected based on 'Gender'

In [11]:
#Check number of 'True' value
df['search_conducted'].value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

In [12]:
#Calculate 'True' only
df[(df['search_conducted'] == True)].shape[0]

2479

In [13]:
#df.groupby('colmn_1').colmn_2.sum()
df.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [14]:
#In percentage
df.groupby('driver_gender').search_conducted.sum() * 100 / (df[(df['search_conducted'] == True)].shape[0])

driver_gender
F    14.764018
M    85.235982
Name: search_conducted, dtype: float64

### 4. Mean 'Stop Duration'

In [15]:
#Inspect 'Stop Duration' value
df['stop_duration'].value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [16]:
#df['columname'] = df['columnname'].map({old1:new1, old2:new2})
#changing value using 'map'
df['stop_duration'] = df['stop_duration'].map({'0-15 Min':7.5, '16-30 Min':24, '30+ Min':45})
df['stop_duration'].value_counts()

7.5     47379
24.0    11448
45.0     2647
Name: stop_duration, dtype: int64

In [17]:
#Current mean 
df['stop_duration'].mean()

12.187420698181345

In [18]:
#Count 'Null' value in 'Stop Duration' column
df[df['stop_duration'].isnull()].shape[0]

4061

In [19]:
#fill in 'Null' with current mean
df['stop_duration'].fillna(round(df['stop_duration'].mean(),0), inplace = True)
#Recheck
df['stop_duration'].value_counts()

7.5     47379
24.0    11448
12.0     4061
45.0     2647
Name: stop_duration, dtype: int64

In [20]:
#New mean
df['stop_duration'].mean()

12.175806820782787

### 5. Violation vs Age distribution

In [21]:
df.groupby('violation').driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0